// .reports-container {
//     margin: 0 1em 1em 2em;
//     background-color: var(--background-color);
//   }
  
//   .form-container {
//     margin-top: 1em;
//     border-radius: 1em;
//     padding: 20px;
//   }
  
//   .table-container1 {
//     margin-top: 1em;
//     border-radius: 1em;
//   }
  
//   .table-top-container {
//     padding: 20px 20px 0px 20px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
  
//   .icon-container {
//     display: flex;
//     margin-right: 30px;
//   }
  
//   .icon {
//     box-shadow: 0 0 10px 1px #00000026 !important;
//     border-radius: 40%;
//   }
  
//   .icon:first-child {
//     margin-right: 10px;
//   }
  
//   .table-container {
//     width: 100% !important;
//     overflow-x: auto !important;
//   }
  
//   .input-container {
//     padding: 20px;
//     display: flex;
//     gap: 0px 30px;
//     flex-wrap: wrap;
//   }
  
//   .form-group {
//     display: flex;
//     flex-direction: column;
//   }
  
//   label {
//     margin-left: 10px;
//     margin-bottom: 10px;
//   }
  
//   .input-field {
//     width: 320px;
//     --mat-form-field-container-height: 0px;
//   }
  
//   :host ::ng-deep .mdc-text-field--outlined {
//     --mdc-outlined-text-field-container-shape: 20px;
//   }
  
//   .btn-container {
//     padding-left: 20px;
//   }
  
//   .btn {
//     padding: 20px 16px;
//     width: 90px;
//     height: 50px;
//     font-size: 1em;
//     font-weight: 600;
  
//     margin-right: 10px;
//     color: var(--blue800) !important;
//     border: 2px solid var(--blue800) !important;
//   }
  
//   .active {
//     background: var(--blue800);
  
//     color: white !important;
//   }
  
//   th {
//     color: var(--purple800);
//     border-top: 1px solid #ccc;
//     border-bottom: 1px solid #ccc;
//   }
  
//   .viewportBtn{
//       background-color: var(--blue800) !important;
//       color: white !important;
//   }
  

.shiftend {
  margin: 0 1em 1em 2em;

  &__title-wrapper {
    padding: 1em 0 1em 1em;
    font-weight: bold;
    font-size: larger;
    color: rgb(71, 71, 239);
  }

  &__outer-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1em;
    place-content: center;
   }

   &__btn-container {
    display: flex;   
    gap:1em;
  }

  &__card{
    border-radius: 1em;
    margin-bottom: 32px;
   }
  
  

}




.content-container {
  display: flex;
  justify-content: space-between;
}